body{margin:0px;padding:0px;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:9pt;line-height:1.5em;color:#423B2D;background-color:#797266;background-image:linear-gradient(top,rgb(121,114,102) 0%,rgb(236,233,216) 100%);background-image:-o-linear-gradient(top,rgb(121,114,102) 0%,rgb(236,233,216) 100%);background-image:-moz-linear-gradient(top, rgb(121,114,102) 0%,rgb(236,233,216) 100%);background-image:-webkit-linear-gradient(top,rgb(121,114,102) 0%,rgb(236,233,216) 100%);background-image:-ms-linear-gradient(top,rgb(121,114,102) 0%,rgb(236,233,216) 100%);background-image:-webkit-gradient(linear,right top,right bottom,color-stop(0,rgb(121,114,102)),color-stop(1,rgb(236,233,216)));}
img.left,img.right,img.side{border:5px solid #FFFFFF;margin-bottom:15px;}
img.left{float:left;margin-right:15px;}
img.right{margin-left:15px;}
a{text-decoration:none;font-weight:bold;color:#006579;}
a:hover{text-decoration:underline;color:#BA3600;}
p{margin:0px;padding-top:0px;padding-right:0px;padding-bottom:1.25em;padding-left:0px;font-size:10pt;}
strong{color:#352f24;}
h1,h2,h3,h4,h5{font-size:1em;line-height:1em;color:#352f24;margin:0px;padding:0px;font-weight:bold;}
h2{font-size:2em;padding-bottom:20px;}
h3{font-size:1.5em;padding-bottom: .5em;}
h4{font-size:1.083em;color:#605A51;}
h3.box-title, h4.box-title{margin-bottom:15px;padding-bottom:10px;border-bottom:3px solid #dddac3;}
.large-text{font-size:1.5em;font-weight:normal;line-height:1.167em;color:#605A51;}
.larger-text{font-size:1.667em;}
.hide{display:none;}
.clear{clear:both;font-size:0px;line-height:0px;height:0px;}
.green{color:green;}
.red{color:red;}
.aligncenter{text-align:center !important;margin-left:auto;margin-right:auto;padding-left:0 !important;padding-right:0 !important;}
.container-top,.container-body,.container-foot{width:940px;margin-right:auto;margin-left:auto;}
.container-body{padding-top:25px;}
.padding{padding-right:45px;padding-left:45px;}
.container-top{background:url("/assets/images/top.png") no-repeat;height:175px;margin-top:10px;}
.container-top .padding{padding-top:75px;}
.container-top .logo{background: url("/assets/images/logo.png") no-repeat;float:left;height:68px;width:235px;margin-top:-10px;}
.global-nav{float:right;height:68px;margin-top:-35px;}
.global-nav ul{padding:0px;list-style-type:none;float:right;margin:20px 0 0 0;}
.global-nav ul li{display:inline;}
.global-nav a{font-weight:bold;text-transform:uppercase;display:block;padding:5px;float:left;color:#423b2d;text-decoration:none;margin-left:10px;font-size:9pt;}
.global-nav a:hover{color:#ba3600;}
.global-nav a.current{background-color:#ba3600;color:#FFFFFF;}
#slideshow{position:relative;height:220px;margin-left: 35px;margin-bottom: 30px;}
#slideshow img{position:absolute;top:0;left:0;z-index:8;}
#slideshow img.active{z-index:10;}
#slideshow img.last-active{z-index:9;}
.container-body{background: url("/assets/images/body.png") repeat-y;}
.home-column{float:left;width:276px;}
.container-body .main-content{float:left;width:560px;}
.container-body .side-content{float:left;width:240px;margin-left:30px;}
.side-content a{font-weight:normal;}
.page-flip{background: url("/assets/images/sidebar-page-flip.gif") no-repeat;background-position:0px bottom;padding:0 50px 40px 25px;margin-bottom:20px;}
.page-flip-home{margin-bottom:0px;}
.contacto .page-flip{margin-top:-45px;}
ul.line, ul.side-nav, ul.foot{margin: 0px;padding: 0px;list-style-type:none;}
ul.line li{border-bottom:1px solid #dddac3;padding-bottom:10px;margin-bottom:10px;}
.main-content ul,.main-content ol{margin:0px 2em 1.75em 2em;padding:0px 2em 0px 2em;}
.main-content ul li,.main-content ol li{border-bottom:1px dashed #DDDAC3;padding-bottom:.75em;margin-bottom:.75em;}
.news-date{float:left;text-align:center;color:#352f24;display:block;width:40px;}
.news-date .month{font-weight:bold;text-transform:uppercase;}
.news-date .day{font-size:1.75em;font-weight:bold;color:#BA3600;}
.news-date .year{font-size:.9em;}
.news-item{border-left:1px solid #DDDAC3;float:left;margin-left:12px;padding-left:12px;width:165px;}
ul.resources li, ul.side-nav li{border-bottom-:1px solid #DDDAC3;margin-bottom:10px;padding-bottom:10px;}
ul.side-nav li{margin-bottom:6px;padding-bottom:6px;}
ul.side-nav li a{color:#BA3600;display:block;background:url(/assets/images/sidebar-nav-bullet.gif) no-repeat;background-position:0em .5em;padding-left:12px;font-weight:bold;}
ul.side-nav li a:hover{color:#006579;text-decoration:none;}
ul.line li.last ,ul.side-nav li.last{border-bottom-style:none;}
.container-foot{background:url("/assets/images/bottom.png") no-repeat;color:#423b2d;font-size:.917em;line-height:1.4em;}
.container-foot h3{padding-bottom:.25em;font-size:1.75em;}
.container-foot a{color:#352F24;}
ul.foot{padding-bottom:.5em;}
ul.foot li{display:inline;margin-right:15px;}
.container-foot p{padding-bottom:.5em;}
.container-foot .padding{padding-top:92px;padding-bottom:20px;}
.container-foot .info{float:left;width:200px;}
.container-foot .links{width:610px;margin-left:20px;float:left;}
form.contact{margin:0px;padding:0px;}
form.contact fieldset{border:none;padding:0;margin:0 0 0 -4px;}
form.contact div.clear{border-bottom:1px none #DDDAC3;padding-bottom:3px;}
form.contact label{text-align:right;float:left;width:10px;margin-top:4px;}
form.contact .element{border:1px solid #DDDAC3;float:left;width:200px;color:#797266;padding:5px;margin:0px 0px 0px 5px;}
form.contact .large{width:400px;}
form.contact .button{color:#423B2D;float:left;font-size:10pt;height:25px;margin-left:10px;width:100px;}
#form_alertas label{width:60px;}
#form_alertas .button{margin-left:64px;}
.fb-like-box{margin-left:-10px;}
.alert{font-size:.9em;font-style:italic;color:#BA3600;}
.fondos_options{width:530px;margin:auto;}
.fondos_options select{width:100px;}
.fondos_options input[type="text"]{height:20px;padding:0;text-align:center;vertical-align:middle;width:90px;}
.fondos_options input[type="submit"]{display:block;height:22px;margin:5px auto;width:230px;}
.fondos_options select#sel_tipo{width:130px;}
.fondos_options label{font-size:10pt;line-height:30px;}
#top_filters{width:450px;text-align:center;margin:auto;}
#bottom_filters{height:30px;margin:auto;max-width:480px;text-align:center;width:auto;}
#grafico-fondos{margin:auto;display:block;}
#chart_container{min-height:200px;height:500px;max-width:800px;background:white;margin:auto}
.error{width:90%;margin:auto 0 20px;padding:10px;background:#F9412C;border:1px solid #BA3600;color:#000;}
#fondo{width:150px;}
#tipo{width:150px;}
#valor{width:60px;}
#uvvm{display:block;float:left;margin:5px 0 0 10px;}
form.contact select{border:1px solid #DDDAC3;color: #797266;float: left;margin:0 0 0 5px;padding: 5px;width: 200px;}
#aditional_filters{margin:auto;text-align:center;}
#aditional_filters a{cursor:pointer;font-size:9pt;}
#aditional_filters div{display:none;}
.indicador{width:850px;margin:0px 0px 20px 0px;padding:5px 10px;}
.indicador h2{font-size:14pt;font-weight:bold;color:#006579;padding:0;}
ul.superior{margin:0px;margin-top:10px;padding-left:100px;list-style-type:none;}
ul.superior li{float:left;padding-left:40px;}
ul.inferior{clear:both;margin:0px;padding-left:5px;list-style-type:none;}
ul.inferior li{clear:both;border-bottom:1px solid #dddac3;padding-bottom:10px;margin-bottom:10px;}
ul.inferior li span{margin-left:40px;}
table.informe{width:100%;margin-top:-23px;}
th.cuota{width:100px;text-align:center;}
th.cuota a{font-size:9pt;}
table.informe td{text-align:center;width:55px;padding:3px 0px 3px 20px;font-size:10pt;vertical-align:middle;}
table.informe td:first-child{text-align:left;width:auto!important;}
table.informe tr {height:25px;margin:inherit;padding:inherit;}
table.informe tr:nth-child(2n+2){background: #CCC}
#social_menu{background:none;display:block;height:20px;padding:20px 0 0;margin:-45px 25px 0 0;clear:both;float:right;width:250px;}
.twitter-share-button{display:block;float:left;width:120px !important;}
.fb-like{width:120px !important;margin-right:10px;}
.fb-comments{margin:auto!important;display:block!important;width:850px!important;min-height:200px;}
.fb-comments-home{}
.fb-comments-fondos{padding-top:20px;}
.fb-comments-alertas{padding-top:50px;}
.details label{display:block;clear:left}
.details span{display:block;}
.details{margin:20px auto auto;text-align:center;width:460px;}
.box-rentabilidad-header{clear:both;margin-bottom:10px;}
.box-rentabilidad-header label{font-size:11pt;}
.box-rentabilidad{margin-top:10px;width:230px;float:left;}
.box-center{float:none;margin:10px auto 0 auto;}
.bold{font-weight:bold;}
.top_message{display:none;font-size:11pt;position:fixed;top:0;width:868px;margin:auto;;z-index:20000;-moz-border-radius:0 0 15px 15px;-webkit-border-radius:0 0 15px 15px;border-radius:0 0 15px 15px;margin-top:-1px;}
.top_message div{width:460px;margin:auto;padding:5px 10px;text-align:center;border:0px;}
.error-message{border:solid 1px #E492A0;color:#E03B57;background-color:#F8E2E5;}
.success-message{border:solid 1px #36BC53;color:#185418;background-color:#9DE89D;}
.info-message{border:solid 1px #D9EDF7;color:#3A87AD;background-color:#D9EDF7;}
.post{padding:20px 0 10px 0;border-bottom:2px dotted #C0C0C0;}
.post-content{margin-bottom:15px;}
.date-info {width:100px;margin:0 20px 0 0;float:left;}
.date{padding-top:25px;width:100px;height:72px;background:#fcfcfc;background:linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);background:-moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);background:-webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);border:1px solid #d2d2d2;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:0px 0px 15px rgba(0,0,0,0.1);-moz-box-shadow:0px 0px 15px rgba(0,0,0,0.1);-webkit-box-shadow:0px 0px 15px rgba(0,0,0,0.1);}
.date p{padding:0!important;font-family:Helvetica, sans-serif;font-size:35pt;text-align:center;color:#9e9e9e;}
.date p span{background:#d10000;background:linear-gradient(top,#d10000 0%,#7a0909 100%);background:-moz-linear-gradient(top,#d10000 0%,#7a0909 100%);background:-webkit-linear-gradient(top,#d10000 0%,#7a0909 100%);font-size:14pt;font-weight:bold;color:#fff;text-transform:uppercase;display:block;border-top:3px solid #a13838;border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;padding:8px 0 5px;margin-top:20px;}
.social_actions{padding:0 0 30px 0;}
.facebook_like_box{width:200px;float:left;}
.google_plus_box{width:120px;float:left;}
.comments_count{width:200px;float:right;text-align:right;margin-top:-4px;}
.comments_count a{font-size:13pt;}
.pagination {padding:40px 0 0 0;}
.pagination p{font-size:12pt;margin-bottom:-38px;text-align:center;}
.page {display:inline-block;padding:5px 15px;margin-right:4px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:solid 1px #c0c0c0;background:#e9e9e9;box-shadow:inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);font-size:9pt;font-weight:bold;text-decoration:none;color:#717171;text-shadow:0px 1px 0px rgba(255,255,255, 1);width:60px;text-align:center;margin-top:-5px;}
.page:hover{background:#fefefe;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));background:-moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);}
.pagination .back{float:left;}
.pagination .more{float:right;}
.page.active{border:none;background: #616161;box-shadow:inset 0px 0px 8px rgba(0,0,0, .5),0px 1px 0px rgba(255,255,255, .8);color:#f0f0f0;text-shadow:0px 0px 3px rgba(0,0,0, .5);}