{include file="header.tpl" title="Gracias por contactarnos - Fondos AFP"}

		
<div class="padding">
    
    <h2>Contacto</h2>
    
    <!--main content-->
    <div class="main-content">
      <p>Tu mensaje ha sido enviado, gracias por contactarte con FondosAFP.</p>
      
    </div>
    
    <div class="clear"></div>
    
</div>

{include file="footer.tpl"}